# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Gradle and Intellij
work/
.gradle/
build/
gradlew
gradlew.bat
gradle/
out/

# Intellij
.idea/
*.iml

# Mac
.DS_Store

# VSCode
.classpath
.project
.settings
